@page
@model ProjParkNet.Pages.ParkingPage.DetailsModel

@{
	ViewData["Title"] = "Admin - Detalhes do Parque";
}


<div>
	<h4>Detalhes do Parque</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			Nome do Parque
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Parking.NamePark)
		</dd>
		<dt class="col-sm-2">
			Nome do Arquivo 
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Parking.FileName)
		</dd>
		<dt class="col-sm-2">
			Endereço
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Parking.Address)
		</dd>
		<dt class="col-sm-2">
			Distrito
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Parking.District)
		</dd>
		<dt class="col-sm-2">
			Código Postal
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Parking.ZipCode)
		</dd>
		<dt class="col-sm-2">
			Telefone
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Parking.TelephoneNumber)
		</dd>
		<dt class="col-sm-2 fw-bold">
			Visualizar Parque
		</dt>
		<dd class="col-sm-10">
			<a href="@Url.Page("/View", new { id = Model.Parking.Id })" class="btn btn-outline-primary btn-sm">
				<strong>Vista</strong>
			</a>
		</dd>

	</dl>
</div>

<div>
	<a asp-page="./Edit" asp-route-id="@Model.Parking.Id" class="btn btn-outline-danger btn-sm">Editar</a>
	<a asp-page="./Index" class="btn btn-outline-secondary btn-sm">Voltar</a>
</div>
<br/>
<br/>